<%content_for(:title) { "Login to continue" } %>
<body>
<center>
<br>
<br>
<a href="/auth/birchbox">Login with BIRCHBOX </a><br>
<a href="/auth/birchbox"><img height="250" width="250" alt="bblogo2" src="/assets/bblogo2.jpg" /></a><br>
<br>
<br>
or
<br>
<br>
<a href="auth/joliebox"> Login with JOLIEBOX</a><br>
<a href="/auth/joliebox"><img height="250" width="250" alt="jblogo" src="/assets/jblogo.jpg" /></a>
</center>
</body>
