<%content_for(:title) { "Login to continue" } %>
<body>
<center>
<br>
<br>
<a href="/auth/birchbox">Login with BIRCHBOX.com</a><br>
<a href="/auth/birchbox"><img height="250" width="250" alt="bblogo2" src="/assets/bblogo2.jpg" /></a><br>
<br>
<br>
or
<br>
<br>
<a href="/auth/joliebox"> Login with JOLIEBOX.com</a><br>
<a href="/auth/joliebox"><img height="250" width="250" alt="jblogo" src="/assets/jblogo.jpg" /></a><br>
<a href="/auth/joliebox-es">Click here for Joliebox.es</a><br>
<a href="/auth/joliebox-uk">Click here for Joliebox.co.uk</a><br>
<br>
<br>
</center>
</body>
