<% content_for(:title) { "Birchbox &mdash; Dashboard" } %>
<% allow_birchbox %>
<div class="gridster">
  <ul>

<!-- mens (row 2) -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="y" data-view="Text" data-title="Men's" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="sub_us_m" data-view="Number" data-title="Live Subs" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="orders_us_m_today" data-view="Number" data-title="FZ Today" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="orders_us_m_yday" data-view="Number" data-title="FZ Yesterday" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="orders_us_m_month" data-view="Number" data-title="FZ Month" data-moreinfo=""></div>
    </li>


<!-- womens (row 2) -->
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="x" data-view="Text" data-title="Women's" data-moreinfo=""></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="sub_us_w" data-view="Number" data-title="Live Subs" data-moreinfo=""></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="orders_us_w_today" data-view="Number" data-title="FZ Today" data-moreinfo=""></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="orders_us_w_yday" data-view="Number" data-title="FZ Yesterday" data-moreinfo=""></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="orders_us_w_month" data-view="Number" data-title="FZ Month" data-moreinfo=""></div>
    </li>
  </ul>


</div>
