<% content_for(:title) { "Birchbox &mdash; Dashboard" } %>
<% allow_birchbox %>
<div class="gridster">
  <ul>
<!-- top line -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nav" data-view="Linklist" data-unordered="true" data-title="US Women" style="background-color:#222"> </div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="sub_us_w" data-view="Number" data-title="Live Subs" data-moreinfo="Goal: 295k" ></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="orders_us_w_month" data-view="Meter" data-title="Jan Orders"  data-min="0"  data-min="0"data-moreinfo="" ></div>
    </li>

<!-- sub adds (row 2) -->
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="" data-view="Text" data-title="New Subscriptions" data-moreinfo="" ></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="sub_delta_us_w_tday" data-view="Number2" data-title="Today" data-moreinfo="" data-lab1="Self: " data-lab2="Gift: "></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="sub_delta_us_w_yday" data-view="Number2" data-title="Yesterday" data-moreinfo="" data-lab1="Self: " data-lab2="Gift: "></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="sub_delta_us_w_month" data-view="Number2" data-title="This Month" data-moreinfo="" data-lab1="Self: " data-lab2="Gift: "></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="sub_delta_us_w_lmonth" data-view="Number2" data-title="Last Month" data-moreinfo="" data-lab1="Self: " data-lab2="Gift: "></div>
    </li>

<!-- suspensions  (row 3) -->
<li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="" data-view="Text" data-title="Rebillable Cancellations" data-moreinfo="" ></div>
</li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="cancel_us_w_today" data-view="Number" data-title="Today" data-moreinfo="" style="background-color:#00b078"></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="cancel_us_w_yday" data-view="Number" data-title="Yesterday" data-moreinfo="" style="background-color:#00b078"></div>
    </li>

    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="cancel_us_w_month" data-view="Number" data-title="This Month" data-moreinfo="" style="background-color:#00b078"></div>
    </li>

    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="cancel_us_w_lmonth" data-view="Number" data-title="Last Month" data-moreinfo="" style="background-color:#00b078"></div>
    </li>

	<!-- orders adds (row 4) -->

	<li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
	  <div data-id="" data-view="Text" data-title="FZ Month Orders" data-moreinfo="" ></div>
	</li>

	    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
	      <div data-id="orders_us_w_today" data-view="Number" data-title="Today" data-moreinfo=""></div>
	    </li>

	    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
	      <div data-id="orders_us_w_yday" data-view="Number" data-title="Yesterday" data-moreinfo=""></div>
	    </li>

	    <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
	      <div data-id="orders_us_w_month" data-view="Number" data-title="This Month" data-moreinfo=""></div>
	    </li>

	    <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
	      <div data-id="orders_us_w_lmonth" data-view="Number" data-title="Last Month" data-moreinfo=""></div>
	    </li>

<!-- list joins  (row 5) -->
<li data-row="5" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="" data-view="Text" data-title="List Joins" data-moreinfo="" ></div>
</li>

    <li data-row="5" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="list_joins_us_w_today" data-view="Number" data-title="Today" data-moreinfo="" style="background-color:#ffd800"></div>
    </li>

    <li data-row="5" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="list_joins_us_w_yday" data-view="Number" data-title="Yesterday" data-moreinfo="" style="background-color:#ffd800"></div>
    </li>

    <li data-row="5" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="list_joins_us_w_month" data-view="Number" data-title="This Month" data-moreinfo="" style="background-color:#ffd800"></div>
    </li>

    <li data-row="5" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="list_joins_us_w_lmonth" data-view="Number" data-title="Last Month" data-moreinfo="" style="background-color:#ffd800"></div>
    </li>

  </ul>
</div>
